<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>创建页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/otherceshi2.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-form.js"></script>
    <script src="/js/otherceshi2.js"></script>
    <script src="/js/splitPage.js"></script>

<script>
        var title = {}
        var time = "";
        var title2 = {}
        var newsData = {}

        var path;
        var username;
        $(function () {
            if (document.cookie.length != 0) {
                var ck1 = document.cookie.split(';');
                var menu;
                for (var i = 0; i < ck1.length; i++) {
                    var ck2 = ck1[i];
                    var ck2 = ck2.split('=');
                    if (ck2[0].trim() == 'username') {
                        username = ck2[1];
                    } else if (ck2[0].trim() == 'menu') {
                        menu = ck2[1];
                    } else if (ck2[0].trim() == 'path') {
                        path = decodeURIComponent(ck2[1]);
                    }
                }
            }
            bindEvents()
            if (menu == "2") {
                $("#li2").children().css("background", "#97C65E");
                $("#c").attr('style', "display:none")
            }
            getAllNews();
            $("#pageNo").val(1);
            getSplitPage()
        })
    </script>

<body>
    <input type="hidden" id="new_id">
    <div id="a">
        <ul>
            <li id="li1">
                <input type="button" value="管理" class="canButton" name="head1" onclick="jump(1)">
            </li>
            <li id="li2">
                <input type="button" value="新闻" class="canButton" name="head2" onclick="jump(2)">
            </li>
            <li id="li3">
                <input type="button" value="公告" class="canButton" name="head3" onclick="jump(3)">
            </li>
            <li id="li4">
                <input type="button" value="数据" class="canButton" name="head4" onclick="jump(4)">
            </li>
        </ul>
    </div>
    <div style="width: 100%;height: 100%;text-align: center" id="select">
        <input type="button" value="创建新闻" onclick="setNewsData('insert')">
        <table width="60%" style="margin: 0 auto;margin-top: 10px;text-align: center" cellpadding="0" cellspacing="0">
            <tr>
                <td width="60%">标题</td>
                <td width="20%">日期</td>
                <td width="20%">操作</td>
            </tr>
        </table>
    </div>
    <div style="width: 100%;height: 100%" id="insert" hidden>
        <div style="width: 100%;height: 5%;text-align: center;">
            <input type="button" value="插入图片" onclick="insertImg()">
            <input id="create" type="button" value="确定创建" onclick="ajaxSubmit('insert',this)">
            <input type="button" value="确定修改" onclick="ajaxSubmit('update',this)">
        </div>
        <form method="POST" enctype="multipart/form-data">
            <div style="float: right;width: 10%;text-align: center">
                <span>图片</span>
                <input type="file" name="file" onchange="change(this)" hidden>
                <img src="x" width="100%" height="120px" onclick="uploadImg(this)">
                <input type="text" name="isUpdate" value="0" hidden>
                <input type="file" name="file" onchange="change(this)" hidden>
                <img src="x" width="100%" height="120px" onclick="uploadImg(this)">
                <input type="text" name="isUpdate" value="0" hidden>

                <input type="file" name="file" onchange="change(this)" hidden>
                <img src="x" width="100%" height="120px" onclick="uploadImg(this)">
                <input type="text" name="isUpdate" value="0" hidden>

                <input type="file" name="file" onchange="change(this)" hidden>
                <img src="x" width="100%" height="120px" onclick="uploadImg(this)">
                <input type="text" name="isUpdate" value="0" hidden>

                <input type="file" name="file" onchange="change(this)" hidden>
                <img src="x" width="100%" height="120px" onclick="uploadImg(this)">
                <input type="text" name="isUpdate" value="0" hidden>

                <input type="file" name="file" onchange="change(this)" hidden>
                <img src="x" width="100%" height="120px" onclick="uploadImg(this)">
                <input type="text" name="isUpdate" value="0" hidden>

                <input type="file" name="file" onchange="change(this)" hidden>
                <img src="x" width="100%" height="120px" onclick="uploadImg(this)">
                <input type="text" name="isUpdate" value="0" hidden>
            </div>
        </form>
        <table id="t2" style="margin: 0 auto;text-align: center;" width="80%" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    标题大小: <input type="text" name="title_size" onchange="styleChange('title',this)">
                    &nbsp;&nbsp;标题颜色: <input type="color" value="#646464" name="title_color" onchange="styleChange('title',this)" />
                    &nbsp;&nbsp;标题加粗: <input type="radio" id="titleBold" value="bold" name="title_weight" onchange="styleChange('title',this)">是
                    <input type="radio" name="title_weight" onchange="styleChange('title',this)">否
                    &nbsp;&nbsp;标题行距: <input type="text" name="title_height" oninput="this.value=this.value.replace(/[^\d.]/g,'')"
                        onchange="styleChange('title',this)">
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                    <textarea name="info" id="title" cols="50" rows="2" placeholder="请在此输入新闻标题" onchange="styleChange('title',this)"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    文章日期: <input type="date" id='time' name="time" value="2018-10-1" max="2100-03-11" min="1900-01-01"
                        onchange="styleChange('time',this)">
                </td>
            </tr>
            <tr>
                <td>
                    副标大小: <input type="text" name="title2_size" onchange="styleChange('title2',this)">
                    &nbsp;&nbsp;副标颜色: <input type="color" value="#646464" name="title2_color" onchange="styleChange('title2',this)" />
                    &nbsp;&nbsp;副标加粗: <input type="radio" id="title2Bold" value="bold" name="title2_weight" onchange="styleChange('title2',this)">是
                    <input type="radio" name="title2_weight" onchange="styleChange('title2',this)">否
                    &nbsp;&nbsp;副标行距: <input type="text" name="title2_height" oninput="this.value=this.value.replace(/[^\d.]/g,'')"
                        onchange="styleChange('title2',this)">
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                    <textarea name="info" id="title2" cols="50" rows="2" placeholder="请在此输入新闻标题" onchange="styleChange('title2',this)"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    内容大小: <input type="text" name="info_size" onchange="styleChange('newsData',this)">
                    &nbsp;&nbsp;内容颜色: <input type="color" value="#646464" name="info_color" onchange="styleChange('newsData',this)" />
                    &nbsp;&nbsp;内容行距: <input type="text" name="info_height" oninput="this.value=this.value.replace(/[^\d.]/g,'')"
                        onchange="styleChange('newsData',this)">
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                    <!-- <div contenteditable="true" id="info" style="width: 1000px;height: 1500px;">
                    
                    </div> -->
                    <textarea id="newsData" name="info" cols="115" rows="100" placeholder="请在此输入新闻内容" onchange="styleChange('newsData',this)"></textarea>
                </td>
            </tr>
        </table>
    </div>
    <!-- 分页 -->
    <table id="split" width="100%" border="0" cellpadding="0" cellspacing="0" style="width: 943px;margin: 0 auto">
        <tr>
            <td width="31%">&nbsp;
                <input type="hidden" id="totalPage" />
                <input type="hidden" id="cpageNo" />
                <input type="hidden" id="pageNo" value="1" />
            </td>
            <td width="13%">共
                <input readonly style="width: 30%" type="text" id="totalNum">条记录</td>
            <td width="6%">
                <input id="fir" type="button" value="首页" onclick="firClick()" />
            </td>
            <td width="6%">
                <input id="pre" type="button" value="上一页" onclick="preClick()" />
            </td>
            <td width="6%">
                <input id="next" type="button" value="下一页" onclick="nextClick()" />
            </td>
            <td width="6%">
                <input id="last" type="button" value="末页" onclick="lastClick()" />
            </td>
            <td width="3%">
                <input type="text" id="pages" size="1" value="" />
            </td>
            <td width="6%">
                <input type="button" id="tpageNo" value="跳转" onclick="tpageNoClick()">
            </td>
            <td id="lstd" style="margin-right: 100px">当前第
                <span style="color: red;"></span>/
                <span></span>页
            </td>
        </tr>
    </table>
</body>

</html>