<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>创建页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/otherceshi1.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-form.js"></script>
    <script src="/js/otherceshi1.js"></script>
    <script src="/js/public.js"></script>
    <script>
        var path;
        // 后台修改那些前端的图片文件的位置
        var username;
        $(function () {
            if (document.cookie.length != 0) {
                var ck1 = document.cookie.split(';');
                var menu;
                for (var i = 0; i < ck1.length; i++) {
                    var ck2 = ck1[i];
                    var ck2 = ck2.split('=');
                    if (ck2[0].trim() == 'username') {
                        username = ck2[1];
                    } else if (ck2[0].trim() == 'menu') {
                        menu = ck2[1];
                    } else if (ck2[0].trim() == 'path') {
                        path = decodeURIComponent(ck2[1]);
                    }
                }
            }
            bindEvents()
            if (menu == "1") {
                $("#li1").children().css("background", "#97C65E");
                $("#c").attr('style', "display:none")
            }
            getzizhiInfo();
            gethome_page();
            getBusiness();
        })

    </script>

<body>
    <div id="a">
        <ul>
            <li id="li1">
                <input type="button" value="管理" class="canButton" name="head1" onclick="jump(1)">
            </li>
            <li id="li2">
                <input type="button" value="新闻" class="canButton" name="head2" onclick="jump(2)">
            </li>
            <li id="li3">
                <input type="button" value="公告" class="canButton" name="head3" onclick="jump(3)">
            </li>
            <li id="li4">
                <input type="button" value="数据" class="canButton" name="head4" onclick="jump(4)">
            </li>
        </ul>
    </div>
    <!-- 我得资质 -->
    <div class="page" id="zizhi">
        <h2>我得资质</h2>
        <form action="./../updateData" method="POST" enctype="multipart/form-data">
            <!-- 告诉是哪个表 -->
            <input type="text" name="database" value="zizhi" hidden>
            <!-- 修改数据行的ID -->
            <input type="text" name="database_id" hidden>
            <!-- 要修改的文字内容 -->
            <textarea name='text' cols="32" rows="8" style="margin-top: 23px;height: 38%;width: 95%;resize: none;resize: none;"
                placeholder="请在此输入要填写的资质信息"></textarea>
            <!-- 要修改的图片内容 -->
            <input type="file" onchange="change(this)" name="file" hidden>
            <!-- 图片展示 -->
            <img src="#" name="img" onclick="uploadImg(this)" style="width: 95%;height: 38%; margin-top:2px; background: skyblue">
            <input type="button" class="canButton" onclick="submitForm(this)" value="修改">
        </form>
    </div>
    <div class="page" id="home_page0">
        <h2 class='hph'>借贷首页1</h2>
        <input type="radio" name="info0" onclick="hiddenProduct(this)">广告
        <input type="radio" name="info0" onclick="types(this)">商品
        <br>
        <div class="homePage">
            <form action="./../updateData" method="POST" enctype="multipart/form-data">
                <!-- 告诉是哪个表 -->
                <input type="text" name="database" value="home_page" hidden>
                <!-- 修改数据行的ID -->
                <input type="text" name="database_id" hidden>
                <!-- 要修改的文字内容 -->
                <!-- <textarea name='text' cols="32" rows="8" style="height: 40%;width: 95%;resize: none;resize: none;" placeholder="请在此输入要填写的资质信息"></textarea> -->
                <!-- 要修改的图片内容 -->
                <input type="file" onchange="change(this)" name="file" hidden>
                <!-- 图片展示 -->
                <img src='' name="img" onclick="uploadImg(this)" style="width: 95%;height: 40%; margin-top:2px; background: skyblue">
                <!-- 是否被修改 -->
                <input type="text" name="isUpdate" value="0" hidden>

                <input type="file" onchange="change(this)" name="file" hidden>
                <img src='' name="img2" onclick="uploadImg(this)" style="width: 95%;height: 40%; margin-top:2px; background: skyblue">
                <input type="text" name="isUpdate" value="0" hidden>

                <input type="button" class="canButton" onclick="submitForm(this)" value="修改">
            </form>
        </div>
        <div class="homeProduct" hidden>
            <form action="./../updateData" method="POST" enctype="multipart/form-data">
                <!-- 告诉是哪个表 -->
                <input type="text" name="database" value="home_page" hidden>
                <!-- 修改数据行的ID -->
                <input type="text" name="database_id" hidden>
                <!-- 商品id -->
                <input type="text" name="product_id" hidden>
                <select name="s1">
                    <option value="">----请选择类别----</option>
                </select>
                <select name='s2'>
                    <option value="">----请选择----</option>
                </select>
                <br>
                <input style="margin-top: 20px" type="button" class="canButton" onclick="submitForm(this)" value="修改">
                <!-- <img name="img" onclick="uploadImg(this)" style="width: 95%;height: 40%; margin-top:2px; background: skyblue"> -->
            </form>
        </div>
    </div>
    <div class="page" id="home_page1">
        <h2 class='hph'>借贷首页2</h2>
        <input type="radio" name="info1" onclick="hiddenProduct(this)">广告
        <input type="radio" name="info1" onclick="types(this)">商品
        <br>
        <div class="homePage">
            <form action="./../updateData" method="POST" enctype="multipart/form-data">
                <input type="text" name="database" value="home_page" hidden>
                <input type="text" name="database_id" hidden>
                <!-- <textarea name='text' cols="32" rows="8" style="height: 40%;width: 95%;resize: none;resize: none;"
                    placeholder="请在此输入要填写的资质信息"></textarea> -->
                <input type="file" onchange="change(this)" name="file" hidden>
                <img src="#" name="img" onclick="uploadImg(this)" style="width: 95%;height: 40%; margin-top:2px; background: skyblue">
                <input type="text" name="isUpdate" value="0" hidden>
                <input type="file" onchange="change(this)" name="file" hidden>
                <img src='' name="img2" onclick="uploadImg(this)" style="width: 95%;height: 40%; margin-top:2px; background: skyblue">
                <input type="text" name="isUpdate" value="0" hidden>
                <input type="button" class="canButton" onclick="submitForm(this)" value="修改">
            </form>
        </div>
        <div class="homeProduct" hidden>
            <form action="./../updateData" method="POST" enctype="multipart/form-data">
                <input type="text" name="database" value="home_page" hidden>
                <input type="text" name="database_id" hidden>
                <input type="text" name="product_id" hidden>
                <select name="s1">
                    <option value="">----请选择类别----</option>
                </select>
                <select name='s2'>
                    <option value="">----请选择----</option>
                </select>
                <br>
                <input style="margin-top: 20px" type="button" class="canButton" onclick="submitForm(this)" value="修改">
                <!-- <img name="img" onclick="uploadImg(this)" style="width: 95%;height: 40%; margin-top:2px; background: skyblue"> -->
            </form>
        </div>
    </div>
    <div class="page" id="home_page2">
        <h2>借贷首页3</h2>
        <input type="radio" name="info2" onclick="hiddenProduct(this)">广告
        <input type="radio" name="info2" onclick="types(this)">商品
        <br>
        <div class="homePage">
            <form action="./../updateData" method="POST" enctype="multipart/form-data">
                <input type="text" name="database" value="home_page" hidden>
                <input type="text" name="database_id" hidden>
                <!-- <textarea name='text' cols="32" rows="8" style="height: 40%;width: 95%;resize: none;resize: none;"
                    placeholder="请在此输入要填写的资质信息"></textarea> -->
                <input type="file" onchange="change(this)" name="file" hidden>
                <img src="#" name="img" onclick="uploadImg(this)" style="width: 95%;height: 40%; margin-top:2px; background: skyblue">
                <input type="text" name="isUpdate" value="0" hidden>
                <input type="file" onchange="change(this)" name="file" hidden>
                <img src='' name="img2" onclick="uploadImg(this)" style="width: 95%;height: 40%; margin-top:2px; background: skyblue">
                <input type="text" name="isUpdate" value="0" hidden>
                <input type="button" class="canButton" onclick="submitForm(this)" value="修改">
            </form>
        </div>
        <div class="homeProduct" hidden>
            <form action="./../updateData" method="POST" enctype="multipart/form-data">
                <input type="text" name="database" value="home_page" hidden>
                <input type="text" name="database_id" hidden>
                <input type="text" name="product_id" hidden>
                <select name="s1">
                    <option value="">----请选择类别----</option>
                </select>
                <select name='s2'>
                    <option value="">----请选择----</option>
                </select>
                <br>
                <input style="margin-top: 20px" type="button" class="canButton" onclick="submitForm(this)" value="修改">
                <!-- <img name="img" onclick="uploadImg(this)" style="width: 95%;height: 40%; margin-top:2px; background: skyblue"> -->
            </form>
        </div>
    </div>
    <div class="page" id="home_page3">
        <h2>借贷首页4</h2>
        <input type="radio" name="info3" onclick="hiddenProduct(this)">广告
        <input type="radio" name="info3" onclick="types(this)">商品
        <br>
        <div class="homePage">
            <form action="./../updateData" method="POST" enctype="multipart/form-data">
                <input type="text" name="database" value="home_page" hidden>
                <input type="text" name="database_id" hidden>
                <!-- <textarea name='text' cols="32" rows="8" style="height: 40%;width: 95%;resize: none;resize: none;"
                    placeholder="请在此输入要填写的资质信息"></textarea> -->
                <input type="file" onchange="change(this)" name="file" hidden>
                <img src="#" name="img" onclick="uploadImg(this)" style="width: 95%;height: 40%; margin-top:2px; background: skyblue">
                <input type="text" name="isUpdate" value="0" hidden>
                <input type="file" onchange="change(this)" name="file" hidden>
                <img src='' name="img2" onclick="uploadImg(this)" style="width: 95%;height: 40%; margin-top:2px; background: skyblue">
                <input type="text" name="isUpdate" value="0" hidden>
                <input type="button" class="canButton" onclick="submitForm(this)" value="修改">
            </form>
        </div>
        <div class="homeProduct" hidden>
            <form action="./../updateData" method="POST" enctype="multipart/form-data">
                <input type="text" name="database" value="home_page" hidden>
                <input type="text" name="database_id" hidden>
                <input type="text" name="product_id" hidden>
                <select name="s1">
                    <option value="">----请选择类别----</option>
                </select>
                <select name='s2'>
                    <option value="">----请选择----</option>
                </select>
                <br>
                <input style="margin-top: 20px" type="button" class="canButton" onclick="submitForm(this)" value="修改">
                <!-- <img name="img" onclick="uploadImg(this)" style="width: 95%;height: 40%; margin-top:2px; background: skyblue"> -->
            </form>
        </div>
    </div>
    <!-- 通过text文本,如果text文本为空，就不显示！！！！！！！ -->
    <div class="page" id="business0">
        <h2>合作伙伴1</h2>

        <input type="radio" value="1" name="partner" onclick="getPartnerInfo1(this)">银行
        <input type="radio" value="2" name="partner" onclick="getPartnerInfo1(this)">机构

        <form action="./../updateData" method="post" enctype="multipart/form-data">
            业务标题：
            <input type="text" name="database" value="business" hidden>
            <input type="text" name="database_id" hidden>
            <input type="text" name="name" placeholder="请输入标题">
            <br>
            <input type="file" onchange="change(this)" value="1" name="file" hidden>
            <img src="#" onclick="uploadImg(this)" style="width: 22%;height: 15%; margin-top:2px; background: skyblue">
            <input type="text" name="select" value="0" hidden>
            <input type="file" onchange="change(this)" name="file" hidden>
            <img src="#" onclick="uploadImg(this)" style="width: 22%;height: 15%; margin-top:2px; background: skyblue">
            <input type="text" name="select" value="0" hidden>
            <input type="file" onchange="change(this)" name="file" hidden>
            <img src="#" onclick="uploadImg(this)" style="width: 22%;height: 15%; margin-top:2px; background: skyblue">
            <input type="text" name="select" value="0" hidden>
            <input type="file" onchange="change(this)" name="file" hidden>
            <img src="#" onclick="uploadImg(this)" style="width: 22%;height: 15%; margin-top:2px; background: skyblue">
            <input type="text" name="select" value="0" hidden>
            <br>
            <input type="text" name="partner_id" hidden>
            <input type="text" name="small_text" placeholder="请输入文字" style="width: 14%">
            <input type="button" class="canButton" value="详" onclick="getPartnerDetail(this)">
            <input type="text" name="partner_id" hidden>
            <input type="text" name="small_text" placeholder="请输入文字" style="width: 14%">
            <input type="button" class="canButton" value="详" onclick="getPartnerDetail(this)">
            <input type="text" name="partner_id" hidden>
            <input type="text" name="small_text" placeholder="请输入文字" style="width: 14%">
            <input type="button" class="canButton" value="详" onclick="getPartnerDetail(this)">
            <input type="text" name="partner_id" hidden>
            <input type="text" name="small_text" placeholder="请输入文字" style="width: 14%">
            <input type="button" class="canButton" value="详" onclick="getPartnerDetail(this)">
            <br>
            <input type="file" onchange="change(this)" name="file" hidden>
            <img src="#" onclick="uploadImg(this)" style="width: 22%;height: 15%; margin-top:2px; background: skyblue">
            <input type="text" name="select" value="0" hidden>
            <input type="file" onchange="change(this)" name="file" hidden>
            <img src="#" onclick="uploadImg(this)" style="width: 22%;height: 15%; margin-top:2px; background: skyblue">
            <input type="text" name="select" value="0" hidden>
            <input type="file" onchange="change(this)" name="file" hidden>
            <img src="#" onclick="uploadImg(this)" style="width: 22%;height: 15%; margin-top:2px; background: skyblue">
            <input type="text" name="select" value="0" hidden>
            <input type="file" onchange="change(this)" name="file" hidden>
            <img src="#" onclick="uploadImg(this)" style="width: 22%;height: 15%; margin-top:2px; background: skyblue">
            <input type="text" name="select" value="0" hidden>
            <br>
            <input type="text" name="partner_id" hidden>
            <input type="text" name="small_text" placeholder="请输入文字" style="width: 14%">
            <input type="button" class="canButton" value="详" onclick="getPartnerDetail(this)">
            <input type="text" name="partner_id" hidden>
            <input type="text" name="small_text" placeholder="请输入文字" style="width: 14%">
            <input type="button" class="canButton" value="详" onclick="getPartnerDetail(this)">
            <input type="text" name="partner_id" hidden>
            <input type="text" name="small_text" placeholder="请输入文字" style="width: 14%">
            <input type="button" class="canButton" value="详" onclick="getPartnerDetail(this)">
            <input type="text" name="partner_id" hidden>
            <input type="text" name="small_text" placeholder="请输入文字" style="width: 14%">
            <input type="button" class="canButton" value="详" onclick="getPartnerDetail(this)">
            <br>
            <input type="file" onchange="change(this)" name="file" hidden>
            <img src="#" onclick="uploadImg(this)" style="width: 22%;height: 15%; margin-top:2px; background: skyblue">
            <input type="text" name="select" value="0" hidden>
            <input type="file" onchange="change(this)" name="file" hidden>
            <img src="#" onclick="uploadImg(this)" style="width: 22%;height: 15%; margin-top:2px; background: skyblue">
            <input type="text" name="select" value="0" hidden>
            <br>
            <input type="text" name="partner_id" hidden>
            <input type="text" name="small_text" placeholder="请输入文字" style="width: 14%">
            <input type="button" class="canButton" value="详" onclick="getPartnerDetail(this)">
            <input type="text" name="partner_id" hidden>
            <input type="text" name="small_text" placeholder="请输入文字" style="width: 14%">
            <input type="button" class="canButton" value="详" onclick="getPartnerDetail(this)">
            <br>
            <input style="margin-top: 10px" type="button" class="canButton" onclick="submitForm(this)" value="修改">
        </form>
    </div>
    <div class="page" id="business1">
        <h2>合作伙伴2</h2>
        <input type="radio" value="2" name="business" onclick="getPartnerInfo2(this)">
        <span></span>
        <input type="radio" value="3" name="business" onclick="getPartnerInfo2(this)">
        <span></span>

        <form action="./../updateData" method="post" enctype="multipart/form-data">
            业务标题：
            <input type="text" name="database" value="business" hidden>
            <input type="text" name="database_id" hidden>
            <input type="text" name="name" placeholder="请输入标题">
            <br>
            <input type="file" onchange="change(this)" name="file" hidden>
            <img src="#" onclick="uploadImg(this)" style="width: 22%;height: 15%; margin-top:2px; background: skyblue">
            <input type="text" name="select" value="0" hidden>
            <input type="file" onchange="change(this)" name="file" hidden>
            <img src="#" onclick="uploadImg(this)" style="width: 22%;height: 15%; margin-top:2px; background: skyblue">
            <input type="text" name="select" value="0" hidden>
            <input type="file" onchange="change(this)" name="file" hidden>
            <img src="#" onclick="uploadImg(this)" style="width: 22%;height: 15%; margin-top:2px; background: skyblue">
            <input type="text" name="select" value="0" hidden>
            <input type="file" onchange="change(this)" name="file" hidden>
            <img src="#" onclick="uploadImg(this)" style="width: 22%;height: 15%; margin-top:2px; background: skyblue">
            <input type="text" name="select" value="0" hidden>
            <br>
            <input type="text" name="partner_id" hidden>
            <input type="text" name="small_text" placeholder="请输入文字" style="width: 14%">
            <input type="button" class="canButton" value="详" onclick="getPartnerDetail(this)">
            <input type="text" name="partner_id" hidden>
            <input type="text" name="small_text" placeholder="请输入文字" style="width: 14%">
            <input type="button" class="canButton" value="详" onclick="getPartnerDetail(this)">
            <input type="text" name="partner_id" hidden>
            <input type="text" name="small_text" placeholder="请输入文字" style="width: 14%">
            <input type="button" class="canButton" value="详" onclick="getPartnerDetail(this)">
            <input type="text" name="partner_id" hidden>
            <input type="text" name="small_text" placeholder="请输入文字" style="width: 14%">
            <input type="button" class="canButton" value="详" onclick="getPartnerDetail(this)">
            <br>
            <input type="file" onchange="change(this)" name="file" hidden>
            <img src="#" onclick="uploadImg(this)" style="width: 22%;height: 15%; margin-top:2px; background: skyblue">
            <input type="text" name="select" value="0" hidden>
            <input type="file" onchange="change(this)" name="file" hidden>
            <img src="#" onclick="uploadImg(this)" style="width: 22%;height: 15%; margin-top:2px; background: skyblue">
            <input type="text" name="select" value="0" hidden>
            <input type="file" onchange="change(this)" name="file" hidden>
            <img src="#" onclick="uploadImg(this)" style="width: 22%;height: 15%; margin-top:2px; background: skyblue">
            <input type="text" name="select" value="0" hidden>
            <input type="file" onchange="change(this)" name="file" hidden>
            <img src="#" onclick="uploadImg(this)" style="width: 22%;height: 15%; margin-top:2px; background: skyblue">
            <input type="text" name="select" value="0" hidden>
            <br>
            <input type="text" name="partner_id" hidden>
            <input type="text" name="small_text" placeholder="请输入文字" style="width: 14%">
            <input type="button" class="canButton" value="详" onclick="getPartnerDetail(this)">
            <input type="text" name="partner_id" hidden>
            <input type="text" name="small_text" placeholder="请输入文字" style="width: 14%">
            <input type="button" class="canButton" value="详" onclick="getPartnerDetail(this)">
            <input type="text" name="partner_id" hidden>
            <input type="text" name="small_text" placeholder="请输入文字" style="width: 14%">
            <input type="button" class="canButton" value="详" onclick="getPartnerDetail(this)">
            <input type="text" name="partner_id" hidden>
            <input type="text" name="small_text" placeholder="请输入文字" style="width: 14%">
            <input type="button" class="canButton" value="详" onclick="getPartnerDetail(this)">
            <br>
            <input type="file" onchange="change(this)" name="file" hidden>
            <img src="#" onclick="uploadImg(this)" style="width: 22%;height: 15%; margin-top:2px; background: skyblue">
            <input type="text" name="select" value="0" hidden>
            <input type="file" onchange="change(this)" name="file" hidden>
            <img src="#" onclick="uploadImg(this)" style="width: 22%;height: 15%; margin-top:2px; background: skyblue">
            <input type="text" name="select" value="0" hidden>
            <br>
            <input type="text" name="partner_id" hidden>
            <input type="text" name="small_text" placeholder="请输入文字" style="width: 14%">
            <input type="button" class="canButton" value="详" onclick="getPartnerDetail(this)">
            <input type="text" name="partner_id" hidden>
            <input type="text" name="small_text" placeholder="请输入文字" style="width: 14%">
            <input type="button" class="canButton" value="详" onclick="getPartnerDetail(this)">
            <br>
            <input style="margin-top: 10px" type="button" class="canButton" onclick="submitForm(this)" value="修改">
        </form>
    </div>
    <div class="page" id="partner">
        <h2>银行详细</h2>
        <form action="./../updateData" method="POST" enctype="multipart/form-data">
            <input type="text" name="database" value="partner" hidden>
            <input type="text" name="database_id" hidden> 银行名字:
            <input type="text" name="name">
            <textarea name='text' cols="32" rows="8" style="height: 38%;width: 95%;resize: none;resize: none;"
                placeholder="请在此输入银行的详细信息"></textarea>
            <input type="file" onchange="change(this)" name="file" hidden>
            <img src="#" name="img" onclick="uploadImg(this)" style="width: 95%;height: 38%; margin-top:2px; background: skyblue">
            <input type="button" class="canButton" onclick="submitForm(this)" value="修改">
        </form>
    </div>
    <!-- <div class="page" id='file_type'>
            <h2>文件类型</h2>
        </div>
        <div class="page">

        </div> -->

</body>

</html>