<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0;">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/fit.css">
</head>
<script src="/js/jquery.min.js"></script>
<script>
    var path;
    $(function () {
        if (document.cookie.length != 0) {
            var ck1 = document.cookie.split(';');
            console.log(ck1);
            var menu;
            for (var i = 0; i < ck1.length; i++) {
                var ck2 = ck1[i];
                var ck2 = ck2.split('=');
                if (ck2[0].trim() == 'username') {
                    username = ck2[1];
                } else if (ck2[0].trim() == 'menu') {
                    menu = ck2[1];
                } else if (ck2[0].trim() == 'path') {
                    path = decodeURIComponent(ck2[1]);
                }
            }
        }
        bindEvents();
    })
    $("#footer").attr('width', window.screen.availWidth);
    function bindEvents() {
        $(".canButton").each(function () {
            $(this).bind('mouseover', function () {
                $(this).css('background', 'green')
            })
            $(this).bind('mouseout', function () {
                $(this).css('background', '')
            })
            $(this).bind('click', function () {
                $(this).css('color', 'purple')
            })
        })
    }
    // 鼠标放上去后，按钮背景会变色，证明可以点击
    function changeGroundGreen(t) {
        $(this).css('background', 'green')
    }
    // 鼠标点击后变为紫色
    function changeFontColor(t) {
        $(this).css('color', 'purple')
    }
    // 鼠标离开后背景变为原来的颜色
    function removeGround(t) {
        $(t).css('background', '')
    }

    function jump() {
        window.location.href = path + 'phone/allOrders';
    }

</script>

<body>
    <div id="footer">
        <div style="width: 95%;padding-top:5%">
            <span style="font-size: 30px;color:#3392FF;font-weight: bold;margin-left: 5%;">温馨提示:
                <br>
                <span style="color:#3392FF;font-weight: bold;font-size: 20px;padding-left: 5%;padding-right: 5%;">您将进入后台管理系统
                    ！</span>
            </span>
            <input type="button" onclick="jump()" style="position: absolute;padding: 3px;top: 90%;right:5%;width:80px;font-size: 18px;background:#3392FF;color: white; "
                class="canButton" value="确定进入">
        </div>
    </div>
</body>

</html>