@charset "utf-8";
/* 简单流媒体
   注意: 流媒体要求您删除 HTML 中媒体的高度和宽度属性
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
ul li{
list-style: none;
}
ul{
	margin:0;padding:0
}
/* IE 6 不支持最大宽度，因此默认为 100% 宽度 */
.ie6 img {
	width:100%;
}
.new1_div{
 width:100%;
 height:180px;
 background-color:#FFF;
 margin-bottom:3px;
}
.new1_div_div{
width:100%; height:170px;padding-top:5px;
}
.new1_titlediv{
 width:70%; 
 height:90%; 
 float:left;
 font-size:25px;
 font-weight: 400;
}
.new1_timediv{
 width:70%; 
 height:10%; 
 float:left;
 color:#888;
}
.new1_img{
width:30%; height:170px;
}

.new2_div{
width:100%; 
overflow:hidden; 
background-color:#FFF;
margin-bottom:3px;
}
.new2_div_div{
width:100%; overflow:hidden; padding-top:5px; padding-bottom:5px
}
.new2_titlediv{
width:100%;
overflow:hidden;
font-size:25px;
font-weight: 400;
}
.new2_timediv{
width:100%;
overflow:hidden;
float:left;
color:#888;
margin-top:15px;
}
.new2_img{
width:33%; 
height:170px;
float:left;
padding-left:2px;
}

/*
	Dreamweaver 流体网格属性
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	灵感来自于 Ethan Marcotte 的“具有响应的 Web 设计” 
	http://www.alistapart.com/articles/responsive-web-design
	
	和 Joni Korpi 的“黄金网格系统”
	http://goldengridsystem.com/
*/

/* 移动设备布局: 480px 及更低。 */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-left: 0%;
	padding-right: 0%;
}
.news-title{
	font-weight:bold;
	width:70%;
}
.news-img{
	width:30%;
	height:100px;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

/* 平板电脑布局: 481px 至 768px。样式继承自: 移动设备布局。 */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 97.5%;
	padding-left: 1.25%;
	padding-right: 1.25%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}

/* 桌面电脑布局: 769px 至最高 1232px。样式继承自: 移动设备布局和平板电脑布局。 */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 98%;
	max-width: 1232px;
	padding-left: 1%;
	padding-right: 1%;
	margin: auto;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}
