<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>询值/推荐页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/appliceshi4.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/appliceshi4.js"></script>
    <script src="/js/jquery-form.js"></script>
    <script src="/js/public.js"></script>
    <script src="/js/powers.js"></script>
    <script>
        var path;
        $(function () {
            if (document.cookie.length != 0) {
                var ck1 = document.cookie.split(';');
                var state2;
                var menu;
                for (var i = 0; i < ck1.length; i++) {
                    var ck2 = ck1[i];
                    var ck2 = ck2.split('=');
                    if (ck2[0].trim() == 'menu') {
                        menu = ck2[1];
                    } else if (ck2[0].trim() == 'path') {
                        path = decodeURIComponent(ck2[1]);
                    }
                }
            }
            getTypes();
            bindEvents()
            if (menu == '4') {
                $("#li4").children().css("background", "#97C65E");
                $("#b span").attr('style', "display:none")
            }

        })

    </script>

    <body>
        <div id="a">
            <ul>
                <li id="li1">
                    <input type="button" value="全部" class="canButton" name="head1" onclick="jump(1)">
                </li>
                <li id="li2">
                    <input type="button" value="筛选/统计" class="canButton" name="head2" onclick="jump(2)">
                </li>
                <li id="li3">
                    <input type="button" value="询值/推荐" class="canButton" name="head3" onclick="jump(3)">
                </li>
                <!-- <li id="li4">
                    <input type="button" value="创建" class="canButton" name="head4" onclick="jump(4)">
                </li> -->
            </ul>
            <input id="orderSelect" type="button" onclick="deleteTb()" class="canButton" value="订单ID查询">
            <input id="aid" type="text">
        </div>

        <div id="create" style="text-align: center">
            <form action="./../createOrder" method="POST" enctype="multipart/form-data">
                <div id="product">
                    <input type="text" name="order_type" value="1" hidden>
                    <input type="text" name="type" hidden>
                    <input type="text" name="product_id" hidden> 商品类别:
                    <select name="s1" style="width: 30%;text-align: center;margin-right: 10%;margin-top: 20px;"></select>
                    商品名称:
                    <select name='s2' style="width: 30%;text-align: center;">
                        <option value="">----请选择----</option>
                    </select>
                    <br>
                    <input style="margin-top: 20px" type="button" class="canButton" onclick="getFileTypes()" value="我要申请">
                    <input style="margin-top: 20px" type="button" class="canButton" onclick="submitForm(this)" id='submit' value="我要提交" hidden>
                </div>
                <div id="file" style="width: 100%;text-align: center">
                    <table cellpadding="0" cellspacing="0" border="0" style="width: 80%">
                    </table>
                </div>
            </form>
        </div>

    </body>

</html>
<script>

    // 表单用ajax进行提交，然后后台进行修改
    function submitForm(t) {
        $(t).parent().parent().ajaxSubmit({
            type: 'post',
            async: false,
            dataType: "text",
            success: function (result) {
                if (result == 'success') {
                    alert('修改成功')
                } else {
                    alert('修改失败')
                }
            }
        })
        return false;
    }
    function getFileTypes() {
        $("#file table").empty();
        let product_id = $("#product input[name='product_id']").val();
        let product_type_id = $("#product input[name='type']").val();
        if (product_type_id && product_id) {
            $("#submit").show();
            $.ajax({
                url: "/users/getProductsByTypeId",
                type: "post",
                data: {
                    product_id: product_id
                },
                async: false,
                dataType: "text",
                success: function (result) {
                    let text = JSON.parse(result).data[0]
                    let file_type_id = text.file_type_id;
                    $.ajax({
                        url: "/users/getDetailFile_types",
                        type: "post",
                        data: {
                            file_type_id: file_type_id
                        },
                        async: false,
                        dataType: "text",
                        success: function (result) {
                            let text = JSON.parse(result).data
                            let table = '<tr><td>申请用户:<input type="text" name="channel_id" style="width:93%"><td></tr>'
                                + '<tr><td>客户姓名:<input type="text" name="clientName" style="width:93%"><td></tr>'
                                + '<tr><td>申请金额:<input type="text" name="inmonney" style="width:93%"><td></tr>';
                            for (let i = 0; i < text.length; i++) {
                                table += '<tr><td style="text-align:left;">' + (i + 1) + '. ' + text[i].name + '</td></tr>'
                                    + '<tr><td><textarea cols="150" rows="3">' + set_br_n(text[i].text) + '</textarea></td></tr>'
                                    + '<tr><td style="text-align:left;"><img onclick="uploadImg(this)" style="width:100px;height:100px;" src="/images/plustag.jpg"></td></tr>'
                            }
                            $(table).appendTo($("#file table"))
                        }
                    })
                }
            })
        } else {
            alert('商品类型或商品名称不能为空！')
        }
    }

    // 点击图片触发图片触发上传文件事件         公共的图片事件！！！！！！！
    function uploadImg(t) {
        let text = '<img style="width:100px;height:100px;margin-right:5px" onclick="updateImg(this)" hidden><input type="file" name="file" onchange="change(this)" hidden>'
        $($(t)).before(text);
        $(t).prev().trigger('click');
    }
    // 图片经过加号创建好了之后想修改
    function updateImg(t) {
        $(t).next().trigger('click');
    }
    // 选择好图片文件之后实现预览功能           公共的图片预览事件！！！！！！！
    function change(fileDom) {
        $(fileDom).prev().show();
        //判断是否支持FileReader
        if (window.FileReader) {
            var reader = new FileReader();
        } else {
            alert("您的设备不支持图片预览功能，如需该功能请升级您的设备！");
        }

        //获取文件
        var file = fileDom.files[0];
        var imageType = /^image\//;
        //是否是图片
        if (!imageType.test(file.type)) {
            alert("请选择图片！");
            return;
        }
        //读取完成
        reader.onload = function (e) {
            //获取图片dom
            // var img = document.getElementById("img12");
            var img = $(fileDom).prev();
            //图片路径设置为读取的图片
            // img.src = e.target.result;
            img.attr('src', e.target.result);
        };
        reader.readAsDataURL(file);
    }

    function set_br_n(text) {
        text = text.replace(/&br/g, '\n');
        return text;
    }

    function getTypes() {
        $("#submit").hide();
        $.ajax({
            url: "/users/getType",
            type: "get",
            async: false,
            dataType: "text",
            success: function (result) {
                text = JSON.parse(result)
                let opt = '<option value="" onclick="getProducts(this)">----请选择类别----</option>';
                for (let i = 0; i < text.length; i++) {
                    opt += '<option onclick="getProducts(this)" value="' + text[i].product_type_id + '">' + text[i].name + '</option>';
                }
                $(opt).appendTo($("#product select[name='s1']"));
            }
        })
    }

    // 获取不同类别的商品
    function getProducts(t) {
        $("#submit").hide();
        let s = $(t).parent().next();
        s.empty()
        let product_type_id = $(t).val();
        setProduct_type_id(product_type_id);
        $.ajax({
            url: "/users/getProductsByTypeId",
            type: "post",
            data: {
                product_type_id: product_type_id
            },
            async: false,
            dataType: "text",
            success: function (result) {
                $("#productInfo").val(result);
                let text = JSON.parse(result).data
                let opt = '<option value="">----请选择----</option>';
                for (let i = 0; i < text.length; i++) {
                    opt += '<option onclick="setProduct_id(this)" value="' + text[i].product_id + '">' + text[i].name + '</option>';
                }
                $(opt).appendTo(s)
            }
        })
    }
    // 为所选择的商品隐藏的product_type_id赋值
    function setProduct_type_id(t) {
        $("#product input[name='type']").val(t);
    }
    // 为所选择的商品隐藏的product_id赋值
    function setProduct_id(t) {
        let product_id = $(t).parent().val();
        $("#product input[name='product_id']").val(product_id);
    }
</script>