<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>询值页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/appliceshi3.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/appliceshi3.js"></script>
    <script src="/js/public.js"></script>
    <script src="/js/powers.js"></script>
    <script src="/js/splitPage.js"></script>
    <script>
        var path;
        var username;
        $(function () {
            if (document.cookie.length != 0) {
                var ck1 = document.cookie.split(';');
                var state2;
                var menu;
                for (var i = 0; i < ck1.length; i++) {
                    var ck2 = ck1[i];
                    var ck2 = ck2.split('=');
                    if (ck2[0].trim() == 'menu') {
                        menu = ck2[1];
                    } else if (ck2[0].trim() == 'username') {
                        username = ck2[1]
                    } else if (ck2[0].trim() == 'path') {
                        path = decodeURIComponent(ck2[1]);
                    }
                }
            }
            getEmp();
            getAllEmpName();
            getAllProducts();
            getDepUserIdName();
            getOrders("");
            $("#pageNo").val(1);
            getSplitPage("", $("#table"), 1)
            bindEvents()
            if (menu == '3') {
                $("#li3").children().css("background", "#97C65E");
                $("#b span").attr('style', "display:none")
            }

            // 显示隐藏选择的对钩的，并将值进行改变
            $("img").parent().click(function () {
                var ts = $(this).children();
                if (ts.css('display') == "none") {
                    ts.show()
                } else {
                    ts.css('display', 'none')
                }
            })
            $(".class1").click(function () {
                var data = $(this).parent().parent();
                data.children().children().each(function () {
                    var name = $(this).attr('name')

                })
            })
        })

    </script>

<body>
    <!-- 设置一个隐藏属性用来存储订单id -->
    <input type="hidden" id="order_id">
    <!-- 用来控制可读可写的，1只读，2可写 -->
    <input type="hidden" id="read" value="1">
    <!-- 用来得到当前订单的流程ID -->
    <input type="hidden" id="flow_id">
    <!-- 存储查询出来的全部订单 -->
    <input type="hidden" id="allOrder">
    <!-- 所有商品名字 -->
    <input type="hidden" id="allPName">
    <!-- 储存所有用户的名字 -->
    <input type="hidden" id="allName">
    <!-- 商品类型id -->
    <input type="hidden" id="product_type_id">
    <div id="a">
        <ul>
            <li id="li1">
                <input type="button" value="申请订单" class="canButton" name="head1" onclick="jump(1)">
            </li>
            <li id="li2">
                <input type="button" value="筛选/统计" class="canButton" name="head2" onclick="jump(2)">
            </li>
            <li id="li3">
                <input type="button" value="询值订单" class="canButton" name="head3" onclick="jump(3)">
            </li>
            <!-- <li id="li4">
                    <input type="button" value="创建" class="canButton" name="head4" onclick="jump(4)">
                </li> -->
            <li id="li5">
                <input type="button" value="推荐订单" class="canButton" name="head5" onclick="jump(5)">
            </li>
        </ul>
        <input id="orderSelect" type="button" onclick="deleteTb()" class="canButton" value="订单ID查询">
        <input id="aid" type="text">
    </div>

    <div id="b">
        <input id="output1" class="canButton" type="button" value="导出" onclick="output()">

        <table id='table' width="96%" cellpadding="0" cellspacing="0" style="top: 1%;">
            <thead>
                <th width="10%">订单编号</th>
                <th width="6%">渠道编号</th>
                <th width="6%">业务姓名</th>
                <th width="6%">内勤姓名</th>
                <th width="6%">客户姓名</th>
                <th width="8%">产品</th>
                <th width="6%">产品类型</th>
                <th width="10%">申请时间</th>
                <th width="8%">出值金额</th>
                <th width="8%">用户备注</th>
                <th width="8%">员工备注</th>
                <th width="6%">订单状态</th>
                <!-- <th width="10%">订单类型</th> -->
                <th width="14%">操作</th>
            </thead>
        </table>

    </div>
    <div id="detail">
        <table id="table2" width="99%" cellpadding="0" cellspacing="0" style="display: none;">
            <tr>
                <td width="8%">订单编号</td>
                <td width="17%">
                    <input type="text" name="appli_id">
                </td>
                <td width="8%">渠道姓名</td>
                <td width="17%">
                    <select disabled id="channel_name" style="width:98%;text-align: center"></select>
                    <input hidden type="text" name="channel_id">
                </td>
                <td width="8%">业务姓名</td>
                <td width="17%">
                    <select disabled id="business_name" onchange="" style="width:98%;text-align: center"></select>
                    <input hidden type="text" name="business_id">
                </td>
                <td width="8%">内勤姓名</td>
                <td width="17%">
                    <select disabled id="office_name" style="width:98%;text-align: center"></select>
                    <input hidden type="text" name="office_id">
                </td>
            </tr>
            <tr>
                <td width="8%">申请时间</td>
                <td>
                    <input type="text" name="appliTime">
                </td>
                <td width="8%">订单状态</td>
                <td>
                    <select hidden id="states" style="width:98%;text-align: center">
                        <option value="">----请选择----</option>
                        <option value="1" onclick="setOrder_state(this.value)">申请中</option>
                        <option value="2" onclick="setOrder_state(this.value)">审核中</option>
                        <option value="3" onclick="setOrder_state(this.value)">通过</option>
                        <option value="4" onclick="setOrder_state(this.value)">失败</option>
                    </select>
                    <input type="text" name="order_state">
                </td>
                <td width="8%">订单文件</td>
                <td>
                    <input style="width:99%;" type="text" name="orderFile">
                </td>
                <td width="8%">客户姓名</td>
                <td>
                    <input style="width:99%;text-align: center" type="text" name="clientName">
                </td>
            </tr>
            <tr>
                <td width="8%">出值金额</td>
                <td><input style="width:99%;" type="text" name="money"></td>
                <td width="8%">商品</td>
                <td width="17%">
                    <select hidden style="width:98%;height:100%;text-align: center"></select>
                    <input type="text" hidden name="product_type_id">
                    <input type="text" name="product_id">
                </td>
                <td width="8%">产品类型</td>
                <td width="17%" colspan="3">
                    <select hidden id="types" style="width:98%;text-align: center"></select>
                    <input style="width:99%;text-align: center" type="text" name="type">
                </td>
            </tr>
            <tr height="50px;">
                <td width="8%">用户备注</td>
                <td colspan="7">
                    <input style="width:99%;height: 49px;" type="text" name="userComment" hidden>
                    <textarea cols="170" rows="5" style="resize:none" readonly onchange="getText(this)"></textarea>
                </td>
            </tr>
            <tr height="50px;">
                <td width="8%">员工备注</td>
                <td colspan="7">
                    <input style="width:99%;height: 49px;" type="text" name="empComment" hidden>
                    <textarea cols="170" rows="5" style="resize:none" readonly onchange="getText(this)"></textarea>
                </td>
            </tr>
        </table>
        <input hidden id="update2" class="canButton" type="button" value="编辑" style="position: absolute;bottom: 10%;left: 50%;"
            onclick="text2()">
    </div>
    <!-- 分页 -->
    <table id="split" width="100%" border="0" cellpadding="0" cellspacing="0" style="width: 943px;">
        <tr>
            <td width="31%">&nbsp;
                <input type="hidden" id="totalPage" />
                <input type="hidden" id="cpageNo" />
                <input type="hidden" id="pageNo" value="1" />
            </td>
            <td width="13%">共
                <input readonly style="width: 30%" type="text" id="totalNum">条记录</td>
            <td width="6%">
                <input id="fir" type="button" value="首页" onclick="firClick()" />
            </td>
            <td width="6%">
                <input id="pre" type="button" value="上一页" onclick="preClick()" />
            </td>
            <td width="6%">
                <input id="next" type="button" value="下一页" onclick="nextClick()" />
            </td>
            <td width="6%">
                <input id="last" type="button" value="末页" onclick="lastClick()" />
            </td>
            <td width="3%">
                <input type="text" id="pages" size="1" value="" />
            </td>
            <td width="6%">
                <input type="button" id="tpageNo" value="跳转" onclick="tpageNoClick()">
            </td>
            <td id="lstd" style="margin-right: 100px">当前第
                <span style="color: red;"></span>/
                <span></span>页
            </td>
        </tr>
    </table>
    </div>
    <div id="hidde"></div>
</body>

</html>