*{
    margin: 0;
    padding: 0;
}
body {
    height: 765px;
}

/* ✔ */
#a {
    width: 100%;
    height: 38px;
    margin-top: 1px;
    background: #CCE8CF;
}

/* ✔ */
ul li {
    position: relative;
    bottom: 0px;
    list-style-type: none;
    float: left;
    width: 100px;
    height: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
}
/* ✔ */
li input {
    height: 100%;
    width: 100px;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

/* ✔ */
ul {
    height: 100%;
    padding-left: 0px;
    margin-left: 10px
}


#select tr td{
    border: 1px solid black;
}
#split tr td {
    border: 1px solid black;
}