*{
    margin: 0;
    padding: 0;
}
body {
    height: 690px;
}

/* ✔ */
#a {
    width: 100%;
    height: 38px;
    margin-top: 1px;
    background: #CCE8CF;
}
/* ✔ */
#b {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* ✔ */
ul li {
    position: relative;
    bottom: 0px;
    list-style-type: none;
    float: left;
    width: 100px;
    height: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
}
/* ✔ */
li input {
    height: 100%;
    width: 100px;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

/* ✔ */
ul {
    height: 100%;
    padding-left: 0px;
    margin-left: 10px
}

/* ✔ */
#orderSelect {
    position: relative;
    float: right;
    bottom: 33px;
    margin-right: 20px;
    height: 75%;
    font-size: 15px;
    font-weight: bold;
}
/* ✔ */
#aid{
    position: relative;
    float: right;
    bottom: 30px;
    margin-right: 20px;
    height: 50%;
}

/* ✔ */
table {
    position: relative;
    top: 53px;
    text-align: center;
    margin: auto;
    border: 0;
    /* font-size:25px; */
    font-weight:bold;
    font-family: '黑体';
}
/* ✔ */
table input {
    height: 100%;
    width: 98%;
    text-align: center;
}
/* ✔ */
tr td {
    border: 1px solid black;
    height: 35px;
}